BTPexel/.DS_Store
xcuserdata/
BTPexel/BTPexel.xcodeproj/project.xcworkspace/xcuserdata/iliabaudin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
BTPexel/BTPexel.xcodeproj/xcuserdata/iliabaudin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
BTPexel/project_structure.txt
